.card-title {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.card-text {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

body {
    background-image: url("black1.jpg");
}

strong {
    color: white;
    font-weight: bold;
}

h2 {
    color: white;
    font-weight: bold;
}